<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo='Inicio')}">

</head>
<body>
<!--Div es del menu de navegacion--->
<div th:replace="~{fragmentos/navegacion::navegacion-seccion}"></div>
<!--Div para el titulo-->
<div class="container">
    <div class="container text-center" style="margin:30px">
        <h3>Sistema de contactos</h3>
    </div>
<!--Div para desplegar la tabla-->
<table class="table table-striped table-hover aling-middle table-bordered">
    <thead class="table-dark text-center">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Celular</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contacto:${contactos}">
        <th th:text="${contacto.idContacto}" scope="row">1</th>
        <td th:text="${contacto.nombre}">Mark</td>
        <td th:text="${contacto.celular}">Otto</td>
        <td th:text="${contacto.email}">@mdo</td>
        <td class="text-center">

            <div class="container">
                <a th:href="@{/editar/{id}(id=${contacto.idContacto})}"
                class="btn btn-warning btn-sm me-3">Editar</a>

            <a th:href="@{/eliminar/{id}(id=${contacto.idContacto})}"
            class="btn btn-danger btn-sm me-3 btn-eliminar">Eliminar</a>
            </div>


        </td>
    </tr>

    </tbody>
</table>
</div><script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelectorAll(".btn-eliminar").forEach(boton => {
      boton.addEventListener("click", function(event) {
        event.preventDefault();
        const url = this.getAttribute("href"); // ya es la URL generada por Thymeleaf

        Swal.fire({
          title: "¿Seguro que deseas eliminar este contacto?",
          text: "Esta acción no se puede deshacer",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Sí, eliminar",
          cancelButtonText: "Cancelar"
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = url; // usar la URL ya generada
          }
        });
      });
    });
</script>


<div th:replace="~{fragmentos/pie_de_pagina::pie}">
    </div>



</body>
</html>